<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exam.mapper.CartMapper">

	<insert id="insertCart" parameterType="CartDTO">
		INSERT INTO cart (userId, bookId, cCount,totalPrice)
		VALUES (#{userId}, #{bookId}, #{cCount},#{totalPrice})
	</insert>

	<resultMap type="CartDTO" id="yyy">
		<id property="cartId" column="cartId" />
		<result property="bookId" column="bookId" />
		<result property="cCount" column="cCount" />
		<result property="userId" column="userId" />
		<result property="totalPrice" column="totalPrice" />

		<collection property="goodsList" ofType="java.util.Map">
			<id property="bookId" column="bookId" />
			<result property="title" column="title" />
			<result property="author" column="author" />
			<result property="price" column="price" />
			<result property="category" column="category" />
			<result property="publisher" column="publisher" />
			<result property="imageCode" column="imageCode" />
			<result property="publishDate" column="publishDate" />
		</collection>
	</resultMap>


	<select id="cartList" parameterType="string" resultMap="yyy">
		select *
		from cart join goods on cart.bookId = goods.bookId
		where userId=#{userId}
	</select>

	<delete id="deleteItem" parameterType="CartDTO">
		delete from cart
		where bookId=#{bookId} and userId=#{userId}
	</delete>

	<select id="selectCart" resultType="int" parameterType="string">
		select count(cartId) from cart where userId=#{userId}
	</select>

	<select id="selectBookId" parameterType="CartDTO"
		resultType="CartDTO">
		select * from cart where bookId=#{bookId} and userId=#{userId}
	</select>

	<update id="updateCartItem" parameterType="CartDTO">
		UPDATE cart
		SET cCount = cCount + #{cCount},
		totalPrice = totalPrice + #{totalPrice}
		WHERE userId = #{userId} AND bookId = #{bookId}
	</update>

</mapper>
